header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

#parent-1 {
    display: flex;
}

#parent1-img1 {
    flex: 1;
    height: 500px;
}

#parent1-paragraph1 {
    flex: 1;
}

#parent-2 {
    display: flex;
    justify-content: right;
}

#parent2-paragraph-2 {
    flex: 7;
}

#parent2-img2 {
    flex: 3;
    height: 300px;
}

footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 35px;
}