@media(max-width:500px) {
    body {
        background-color: wheat;
    }
}

header {
    display: flex;
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
}

#first {
    width: 40px;
    height: 40px;
    justify-content: left;

}

#heading {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#second {
    width: 40px;
    height: 40px;
    justify-content: right;
}


#p-1 {
    display: flex;
    
}

@media (max-width:300px) {
    #infant-1 {
        flex: 7;
        display: block;
        background-color: lightgreen;
    }
}

@media (min-width:300px) and (max-width:500px) {
    #infant-2 {
        background-color: blue;
        flex: 3;
    }
}

#p-2 {
    display: flex;
    display: block;
}

@media (min-width:300px) {
    #child-1 {
        background-color: red;
        flex: 1;
    }
}

@media(max-width:500px) {
    #child-2 {
        flex: 1;
        background-color: darkorange;
    }
}

footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 35px;
}